<style>
wi-cartdrawer{width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: 10000;background-color: rgba(0,0,0,0);display: flex;justify-content: flex-end;overflow: hidden;display: none;transition: 0.3s ease;}
.WI_cartDrawerin{height: 100%;position: relative;display: flex;justify-content: flex-start;transform: translateX(100%);transition: 0.3s ease-out;}
.WI_cartDrawerin_cart{width: 480px;height: 100%;background-color: #fff;z-index: 1;}
.WI_cartDrawerin_upsell{width: 250px;height: 100%;background-color:#e8e9ea;z-index: 0;transform: translateX(200px);opacity: 0;visibility: hidden;transition: 0.3s ease-out;}
.WI_cartDrawerin_upsell_active{transform: translateX(0);opacity:1;visibility:visible;}
.WI_cartDrawerin_cart_header{width: 100%;height:auto;padding: 20px;border-bottom: 1px solid #e7e7e7;}
.WI_cartDrawerin_cart_header h2{width: 100%;font-size: 16px;color: #000;font-weight: 400;display: flex;justify-content: space-between;align-items: center;margin: 0;}
.WI_cartDrawerin_upsell_header{width: 100%;height:auto;padding: 20px;border-bottom: 1px solid #e7e7e7;margin-top: 6px;}
.WI_cartDrawerin_upsell_header h2{width: 100%;font-size: 16px;color: #000;font-weight: 400;display: flex;justify-content: space-between;align-items: center;margin: 0;}
.WI_cartDrawerin_cart_body{width: 100%;height:calc(100% - 65px);position: relative;}
.WI_cartDrawerin_cart_empty{width: 100%;height:calc(100% - 65px);position: relative;display: flex;justify-content: center;align-items: center;}
.WI_cartDrawerin_cart_empty_svg{display: flex;justify-content: center;flex-wrap: wrap;}
.WI_cartDrawerin_cart_empty_svg svg{width: 80px;height: 80px;}
.WI_cartDrawerin_cart_empty_svg p{width: 100%;text-align:center;margin-top:20px;}
.WI_cartDrawerin_cart_body form{width: 100%;height:100%;position: relative;display: flex;flex-wrap: wrap;}
.WI_cartDrawerin_cart_form_in{width: 100%;height:calc(100% - 190px);overflow: auto;}
.WI_cartDrawerin_cart_items{width: 100%;height: auto;display: flex;flex-wrap: wrap;padding: 0 20px;}
.WI_cartDrawer_item{width: 100%;height: auto;display: flex;justify-content: flex-start;padding: 20px 0;border-bottom: 1px solid #e7e7e7;position: relative;}
.WI_cartDrawer_item_img{width: 20%;height:85px;}
.WI_cartDrawer_item_img img{width: 100%;height: 100%;object-fit: cover;display: flex;border-radius: 5px;}
.WI_cartDrawer_item_info{width: 100%;height: auto;display: flex;justify-content:flex-start; flex-wrap: wrap;align-items: stretch;padding-left:10px;}
.WI_cartDrawer_item_info_title{width: 100%;height: auto;display: flex;}
.WI_cartDrawer_item_info_qun{width: 100%;height: auto;display: flex;justify-content: space-between;margin-top:10px;align-items: flex-end;}
.WI_cartDrawer_item_info_title_txt{width: 100%;height: auto;}
.WI_cartDrawer_item_info_title_txt h5{font-size: 14px;margin: 0;margin-bottom:5px;}
.WI_cartDrawer_item_info_title_txt p{font-size: 13px;margin: 0;}
.WI_cartDrawer_quantity{width: 100px;height:25px;display: flex;border: 1px solid #e7e7e7;border-radius:5px;justify-content: space-between;overflow: hidden;}
.WI_cartDrawer_quantity button{padding: 0;width: 25px;height:100%;display: flex;justify-content: center;align-items: center;}
.WI_cartDrawer_quantity button svg{width: 14px;stroke: #000;color: #000;}
.WI_cartDrawer_quantity input{padding: 0;width: 50px;height:100%;font-size: 14px;display: flex;justify-content: center;align-items: center;border: none;border-left: 1px solid #e7e7e7;border-right: 1px solid #e7e7e7;color: #000;}
input::-webkit-outer-spin-button,
.WI_cartDrawer_quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.WI_cartDrawer_quantity input[type=number] {
  -moz-appearance: textfield;
}
.WI_cartDrawerin_cart_exta{width: 100%;height: auto;padding: 0 20px;}
.WI_cartDrawerin_cart_exta_in{width: 100%;height: auto;border-bottom:1px solid #e7e7e7;padding: 20px 0;}
.WI_cartDrawerin_cart_exta_saving{display: flex;justify-content:space-between;align-items: center;}
.WI_cartDrawerin_cart_exta_saving span{font-size: 12px;font-weight: 400;padding: 5px 0;}
.WI_cartDrawerin_cart_trust{width: 100%;height: auto;display: flex;gap: 10px;align-items: center;justify-content: flex-start;padding: 20px;}
.WI_cartDrawerin_cart_trust svg{width: 120px;}
.WI_cartDrawerin_cart_trust span{font-size: 14px;}
.WI_cartDrawerin_cart_footer{width: 100%;height:180px;padding: 20px;border-top: 1px solid #e7e7e7;gap: 10px;}
.WI_cartDrawer_total{width: 100%;height:auto;display: flex;justify-content: space-between;align-items: center;margin-bottom: 10px;}
.WI_cartDrawer_total h5{font-size: 14px;color: #000;font-weight: 600;margin: 0;}
.WI_cartDrawer_checkout{width: 100%;height:50px;background-color: #000;color: #fff;border: none;font-size:16px;font-weight: 600;letter-spacing:1px;border-radius: 50px;margin-bottom: 10px;}
.WI_cartDrawer_checkout:hover{background-color: #000 !important;}
.WI_cartDrawerin_upsell_body{width: 100%;height: calc(100% - 205px);padding: 0 20px;display: flex;flex-wrap: wrap;gap: 10px;overflow: auto;}
.WI_cartDrawerin_upsell_body::-webkit-scrollbar{width: 2px;background-color: #f2f2f2;}
.WI_cartDrawerin_upsell_body::-webkit-scrollbar-thumb{width: 2px;background-color: #000;}
.WI_cartDrawerin_upsell_footer{width: 100%;height: 140px;padding: 20px;}
.WI_cartDrawerin_upsell_footer h5{width: 100%;margin-bottom: 10px;font-size:14px;font-weight: 600;color: #000;}
.WI_cartDrawerin_upsell_body_pro{width: 100%;height: auto;}
.WI_cartDrawerin_upsell_footer_points{width: 100%;height: auto;display: flex;justify-content: flex-start;align-items: center;gap: 5px;}
.WI_cartDrawerin_upsell_footer_points span{font-size: 14px;color: #000;}
.WI_cartLoading{width: 100%;height:1px;position: absolute;bottom: 0;overflow: hidden;}
.WI_cartLoadingin{width: 100%;height:1px;background-color:#f2f2f2;position: relative;display: none;}
.WI_cartLoadingActive{display: block;}
.savingIndiactor{display: none;}
.WI_cartLoadingActive:before {
            content: "";
            position: absolute;
            top: 0;
            left: -50%;
            height: 1px;
            width: 40%;
            background-color: #000;
            -webkit-animation: lineAnim 1s linear infinite;
            -moz-animation: lineAnim 1s linear infinite;
            animation: lineAnim 1s linear infinite;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }

        @keyframes lineAnim {
            0% {
                left: -40%;
            }
            50% {
                left: 20%;
                width: 80%;
            }
            100% {
                left: 100%;
                width: 100%;
            }
        }
        .WI_cartLoading_eBox{width: 100%;height:1px;position: absolute;bottom: 0;overflow: hidden;}
        .WI_cartLoadingin_eBox{width: 100%;height:1px;background-color:#f2f2f2;position: relative;display: block;overflow: hidden;}
.WI_cartLoadingActive_eBox:before {
            content: "";
            position: absolute;
            top: 0;
            left: -50%;
            height: 1px;
            width: 40%;
            background-color: #000;
            -webkit-animation: lineAnim 1s linear infinite;
            -moz-animation: lineAnim 1s linear infinite;
            animation: lineAnim 1s linear infinite;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }

        @keyframes lineAnim {
            0% {
                left: -40%;
            }
            50% {
                left: 20%;
                width: 80%;
            }
            100% {
                left: 100%;
                width: 100%;
            }
        }
        .WI_cartDrawer_mobile_upsell{width: 100%;height: auto;background-color: #e8e9ea;display: none;}
        .WI_cartDrawer_mobile_upsell_head h2{width: 100%;text-align: left;font-size: 14px;padding: 20px;}
        .WI_cartDrawer_mobile_upsell_body{width: 100%;height: auto;margin-bottom: 20px;padding: 0 20px;}
        .WI_loadingCartItemBlock{width: 100%;height: auto;padding: 20px;position: relative;display: none;}
        .WI_loadingCartItemBlock_in{width:100%;height: 98px;background-color: #f2f2f2;}
        .WI_cartDrawer_item_info_title_remove_icon svg{width: 14px;height: 14px;opacity: 0.5;}
        .WI_freeShippingCon{width: 100%;height: auto;position: relative;margin-top: 10px;}
        .WI_freeShippingCon p{font-size: 12px;color: #000;margin-bottom: 5px;}
        .WI_freeShippingBar{width:100%;height:4px;border-radius: 4px;background-color: rgba(0,0,0,0.1);overflow: hidden;}
        .WI_freeShippingBar_progress{width:1%; height: 4px;border-top-right-radius: 4px;border-bottom-right-radius: 4px;background-color:#EFC6D4 !important;transition: 0.2s ease-out;}
        @media screen and (max-width: 800px) {
          .WI_cartDrawerin{width: 100%;}
            .WI_cartDrawer_mobile_upsell_points{padding: 20px;}
            .WI_cartDrawerin_cart{width: 100%;}
            .WI_cartDrawerin_upsell{display: none;}
            .WI_cartDrawer_mobile_upsell{display: block;}
            .WI_cartDrawerin_upsell_body_pro{width: calc(50% - 5px);}
            .WI_cartDrawerin_upsell_body_pro .product-block{padding: 0;width: 100% !important;}
            .WI_cartDrawer_mobile_upsell_productList{gap: 10px;margin:0 !important;}
        }
</style>
<wi-cartdrawer>
    <div class="WI_cartDrawerin">

        <div class="WI_cartDrawerin_upsell">
            <div class="WI_cartDrawerin_upsell_header">
                <h2>Vi anbefaler</h2>
            </div>
            <div class="WI_cartDrawerin_upsell_body">
                <div class="collection-listing" style="width: 100%;margin: 0;">
                    <div class="product-list product-list--per-row-{{ section.settings.grid }} product-list--image-shape-{{ settings.prod_thumb_shape }} carousel">
                      {%- liquid
                        if settings.prod_thumb_shape == 'portrait-23'
                          assign chosen_aspect_ratio = 0.67
                        elsif settings.prod_thumb_shape == 'portrait-45'
                          assign chosen_aspect_ratio = 0.8
                        elsif settings.prod_thumb_shape == 'square'
                          assign chosen_aspect_ratio = 1.0
                        elsif settings.prod_thumb_shape == 'landscape'
                          assign chosen_aspect_ratio = 1.50
                        elsif settings.prod_thumb_shape == 'tallest'
                          assign chosen_aspect_ratio = 99
                          for product in serProducts
                            if product.featured_media.preview_image.aspect_ratio < chosen_aspect_ratio
                              assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                            endif
                          endfor
                        else
                          assign chosen_aspect_ratio = 0
                          for product in serProducts
                            if product.featured_media.preview_image.aspect_ratio > chosen_aspect_ratio
                              assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                            endif
                          endfor
                        endif
                      -%}
                      {%- for upPro in section.settings.upsellpro -%}
                        {% if upPro.available %}
                    <div class="WI_cartDrawerin_upsell_body_pro">
                        {% render 'product-block', product: upPro %}
                    </div>
                        {% endif %}
                {%- endfor -%}
                    </div>
                  </div>
            </div>
            <div class="WI_cartDrawerin_upsell_footer">
              <h5>Inkluderet i dit køb</h5>
                {%- for block in section.blocks -%}
                    <div class="WI_cartDrawerin_upsell_footer_points">
                        {{block.settings.svg}}
                        <span>{{block.settings.points}}</span>
                    </div>
                {%- endfor -%}
                
            </div>
        </div>

        <div class="WI_cartDrawerin_cart">
            <div class="WI_cartDrawerin_cart_header">
                <h2 class="WI_cartDrawerin_cart_headerH">Indkøbskurv  {% render 'svg-x', className: 'WI_cartDrawerCls' %}</h2>
                <div class="WI_freeShippingCon">
                  <input type="hidden" value="{{section.settings.freeshipping}}" class="freeShippingValue">
                  <p id="freeShippingTxt">Calculating</p>
                  <div class="WI_freeShippingBar">
                    <div class="WI_freeShippingBar_progress" id="WI_freeShippingBar_progress">
                      
                    </div>
                  </div>
                </div>
            </div>
            <div class="WI_loadingCartItemBlock">
              <div class="WI_loadingCartItemBlock_in">
                <div class="WI_cartLoading_eBox">
                  <div class="WI_cartLoadingin_eBox WI_cartLoadingActive_eBox">

                  </div>
              </div>
              </div>
            </div>
            {% if cart.item_count > 0 %}
            <div class="WI_cartDrawerin_cart_body">
                {% form 'cart', cart %}
                <div class="WI_cartDrawerin_cart_form_in">
                    <div class="WI_cartDrawerin_cart_items">
                        {% for item in cart.items %}
                        <div class="WI_cartDrawer_item" data-itemKey="{{item.key}}" 
                        data-savingPrice="{%- if item.variant.compare_at_price -%}{{ item.variant.compare_at_price | minus: item.variant.price | times: item.quantity }}{%- endif -%}">
                            <div class="WI_cartDrawer_item_img">
                                {{item.image | image_url: width: 250 | image_tag: loading: 'eager'}}
                            </div>
                            <div class="WI_cartDrawer_item_info">
                                <div class="WI_cartDrawer_item_info_title">
                                    <div class="WI_cartDrawer_item_info_title_txt">
                                        <h5>{{item.product.title | escape}}</h5>
                                        {%- if item.product.has_only_default_variant == false -%}
                                        {%- for option in item.options_with_values -%}
                                            <p>{{ option.name }}: {{ option.value }}</p>
                                        {%- endfor -%}
                                      {%- endif -%}
                                    </div>
                                    <div class="WI_cartDrawer_item_info_title_remove">
                                        <div class="WI_cartDrawer_item_info_title_remove_icon">
                                          {% render 'svg-x', className: 'cartDrawerRemove' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="WI_cartDrawer_item_info_qun">
                                    <div class="WI_cartDrawer_quantity">
                                        <button type="button">{% render 'svg-minus', className: 'WI_cartDrawer_minus' %}</button>
                                        <input value="{{ item.quantity }}" type="number" style="text-align: center;" />
                                        <button type="button">{% render 'svg-plus', className: 'WI_cartDrawer_plus' %}</button>
                                    </div>
                                    <div class="WI_cartDrawer_item_price">
                                        <p style="margin: 0;font-size: 14px;">
                                          {%- if item.variant.compare_at_price -%}
                                          <span style="text-decoration: line-through;color:rgba(0,0,0,0.7);font-size: 12px;">{{item.variant.compare_at_price | money}}</span>
                                          <span style="color:#e10404;font-weight: 600;" >{{item.variant.price | money}}</span>
                                            {%- else -%}
                                            <span style="color:#000;font-weight: 600;" >{{item.variant.price | money}}</span>
                                          {%- endif -%}
                                          </p>
                                    </div>
                                </div>
                            </div>
                            <div class="WI_cartLoading">
                                <div class="WI_cartLoadingin">

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="WI_cartDrawerin_cart_exta">
                        <div class="WI_cartDrawerin_cart_exta_in">
                            <div class="WI_cartDrawerin_cart_exta_saving savingIndiactor">
                                {% liquid
                                    assign totalSavingtotal = 0
                                    assign comPrice = 0
                                     for line_item in cart.items 
                                     assign compPrice = line_item.variant.compare_at_price 
                                     endfor 
                                %}
                                <span>Samlet besparelse:</span>
                                <span style="color:#e10404;" class="savedMoney">{{0 | money}}</span>
                            </div>
                            <div class="WI_cartDrawerin_cart_exta_saving">
                                <span>Forventet levering:</span>
                                <span>1-3 dage</span>
                            </div>
                        </div>
                    </div>
                    <div class="WI_cartDrawerin_cart_trust">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="512px" height="96px" viewBox="0 0 512 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
                            <g id="Trustpilot_ratings_5star-RGB" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g fill-rule="nonzero">
                                    <rect id="Rectangle-path" fill="#00B67A" x="0" y="0" width="96" height="96"/>
                                    <rect id="Rectangle-path" fill="#00B67A" x="104" y="0" width="96" height="96"/>
                                    <rect id="Rectangle-path" fill="#00B67A" x="208" y="0" width="96" height="96"/>
                                    <rect id="Rectangle-path" fill="#00B67A" x="312" y="0" width="96" height="96"/>
                                    <rect id="Rectangle-path" fill="#00B67A" x="416" y="0" width="96" height="96"/>
                                    <path d="M48,64.7 L62.6,61 L68.7,79.8 L48,64.7 Z M81.6,40.4 L55.9,40.4 L48,16.2 L40.1,40.4 L14.4,40.4 L35.2,55.4 L27.3,79.6 L48.1,64.6 L60.9,55.4 L81.6,40.4 L81.6,40.4 L81.6,40.4 L81.6,40.4 Z" id="Shape" fill="#FFFFFF"/>
                                    <path d="M152,64.7 L166.6,61 L172.7,79.8 L152,64.7 Z M185.6,40.4 L159.9,40.4 L152,16.2 L144.1,40.4 L118.4,40.4 L139.2,55.4 L131.3,79.6 L152.1,64.6 L164.9,55.4 L185.6,40.4 L185.6,40.4 L185.6,40.4 L185.6,40.4 Z" id="Shape" fill="#FFFFFF"/>
                                    <path d="M256,64.7 L270.6,61 L276.7,79.8 L256,64.7 Z M289.6,40.4 L263.9,40.4 L256,16.2 L248.1,40.4 L222.4,40.4 L243.2,55.4 L235.3,79.6 L256.1,64.6 L268.9,55.4 L289.6,40.4 L289.6,40.4 L289.6,40.4 L289.6,40.4 Z" id="Shape" fill="#FFFFFF"/>
                                    <path d="M360,64.7 L374.6,61 L380.7,79.8 L360,64.7 Z M393.6,40.4 L367.9,40.4 L360,16.2 L352.1,40.4 L326.4,40.4 L347.2,55.4 L339.3,79.6 L360.1,64.6 L372.9,55.4 L393.6,40.4 L393.6,40.4 L393.6,40.4 L393.6,40.4 Z" id="Shape" fill="#FFFFFF"/>
                                    <path d="M464,64.7 L478.6,61 L484.7,79.8 L464,64.7 Z M497.6,40.4 L471.9,40.4 L464,16.2 L456.1,40.4 L430.4,40.4 L451.2,55.4 L443.3,79.6 L464.1,64.6 L476.9,55.4 L497.6,40.4 L497.6,40.4 L497.6,40.4 L497.6,40.4 Z" id="Shape" fill="#FFFFFF"/>
                                </g>
                            </g>
                        </svg>
                        <span>4.8 ud af 5 stjerner</span>
                    </div>
                    <div class="WI_cartDrawer_mobile_upsell">
                        <div class="WI_cartDrawer_mobile_upsell_head">
                            <h2>Vi anbefaler</h2>
                        </div>
                        <div class="WI_cartDrawer_mobile_upsell_body">
                            <div class="collection-listing" style="width: 100%;margin: 0;">
                                <div class="product-list WI_cartDrawer_mobile_upsell_productList product-list--per-row-{{ section.settings.grid }} product-list--image-shape-{{ settings.prod_thumb_shape }} carousel">
                                  {%- liquid
                                    if settings.prod_thumb_shape == 'portrait-23'
                                      assign chosen_aspect_ratio = 0.67
                                    elsif settings.prod_thumb_shape == 'portrait-45'
                                      assign chosen_aspect_ratio = 0.8
                                    elsif settings.prod_thumb_shape == 'square'
                                      assign chosen_aspect_ratio = 1.0
                                    elsif settings.prod_thumb_shape == 'landscape'
                                      assign chosen_aspect_ratio = 1.50
                                    elsif settings.prod_thumb_shape == 'tallest'
                                      assign chosen_aspect_ratio = 99
                                      for product in serProducts
                                        if product.featured_media.preview_image.aspect_ratio < chosen_aspect_ratio
                                          assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                                        endif
                                      endfor
                                    else
                                      assign chosen_aspect_ratio = 0
                                      for product in serProducts
                                        if product.featured_media.preview_image.aspect_ratio > chosen_aspect_ratio
                                          assign chosen_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                                        endif
                                      endfor
                                    endif
                                  -%}
                                  {%- for upPro in section.settings.upsellpro -%}
                                    {% if upPro.available %}
                                <div class="WI_cartDrawerin_upsell_body_pro">
                                    {% render 'product-block', product: upPro %}
                                </div>
                                    {% endif %}
                            {%- endfor -%}
                                </div>
                              </div>
                        </div>
                        <div class="WI_cartDrawer_mobile_upsell_points">
                            {%- for block in section.blocks -%}
                    <div class="WI_cartDrawerin_upsell_footer_points">
                        {{block.settings.svg}}
                        <span>{{block.settings.points}}</span>
                    </div>
                {%- endfor -%}
                        </div>
                    </div>
                </div>
                    <div class="WI_cartDrawerin_cart_footer">
                        <div class="WI_cartDrawer_total">
                            <h5>Total</h5>
                            <h5>{{cart.total_price | money}}</h5>
                        </div>
                        <button type="submit" name="checkout" value="Checkout" class="WI_cartDrawer_checkout">Fortsæt til levering</button>
                        {% render 'WI_paymentIcon' %}
                    </div>
                {% endform %}
            </div>
            {%- else -%}
              <div class="WI_cartDrawerin_cart_empty">
                <div class="WI_cartDrawerin_cart_empty_svg">
                  <svg width="56" viewBox="0 0 65 74" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none"><path d="M64.407 9.856L53.605 0H11.371L.569 9.856A1.548 1.548 0 00.1 11.603c.235.619.843 1.031 1.524 1.031h61.727a1.62 1.62 0 001.522-1.031 1.545 1.545 0 00-.467-1.747z" fill="#C4C4C4"></path><path d="M63.351 9.927H1.624C.728 9.927 0 10.644 0 11.529v59.267C0 72.566 1.454 74 3.249 74h58.478c1.795 0 3.249-1.434 3.249-3.204V11.53c0-.885-.728-1.602-1.625-1.602z" fill="#E4E4E4"></path><path d="M32.488 45.122c-7.963 0-14.44-6.447-14.44-14.37v-4.79a1.6 1.6 0 011.605-1.596 1.6 1.6 0 011.604 1.596v4.79c0 6.163 5.04 11.177 11.23 11.177 6.192 0 11.231-5.014 11.231-11.177v-4.79a1.6 1.6 0 011.604-1.596 1.6 1.6 0 011.605 1.596v4.79c0 7.923-6.477 14.37-14.44 14.37z" fill="#6D6D6D"></path></g></svg>
                  <p>Din kurv er tom</p>
                </div>
              </div>
            {% endif %}
        </div>
    </div>
</wi-cartdrawer>
<script type="module">
    import "{{ 'WI_cart.js' | asset_url }}";
  </script>
{% schema %}
{
    "name": "WI cart",
    "settings": [
                    {
                        "type": "product_list",
                        "id": "upsellpro",
                        "label": "cart upsell produts"
                    },
                    {
                      "type": "text",
                      "id": "freeshipping",
                      "label": "Free shipping value"
                    }
                ],
    "blocks": [
                    {
                        "type": "text",
                        "name": "selling points",
                        "limit": 4,
                        "settings": [
                                        {
                                            "type": "textarea",
                                            "id": "svg",
                                            "label": "SVG"
                                        },
                                        {
                                            "type": "text",
                                            "id": "points",
                                            "label": "Points",
                                            "default": "Point"
                                        }
                                    ]
                    }
                ]
}
{% endschema %}